:root {
  /* Shades of White/Black */
  --white-color-variant-1: #d7d0cf;
  --white-color-variant-2: #8c948c;
  --white-color-variant-3: #838c83;

  /* Shades of gold */
  --gold-color-variant-1:#cfaa67;

  /*  Shades of Green */
  --green-color-variant-1: #183e34;

  --header-text: 24px;
  --subheader-text: 16px;
}

html {
  display: grid;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--white-color-variant-1);
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 100px; */
}

footer,
nav {
  background-color: var(--green-color-variant-1);
  
}

nav {
  position: sticky;
  top: 0;
  border-bottom: var(--gold-color-variant-1) solid 10px;
  padding: 0.625rem;
}

footer {
  position: fixed;
  bottom: 0;
  border-top: var(--gold-color-variant-1) solid 10px;
}
