.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownList {
  position: absolute;
  top: 2.8rem;
  background-color: var(--green-color-variant-1);
  width: auto;
  height: auto;
  min-height: 2.5rem;
  text-align: center;

  padding: 0.625rem;
}

.titleContainer > div.arrow > *:nth-child(2) {
  display: none;
}

@media screen and (width < 750px) {
  .titleContainer > div.arrow > *:nth-child(1) {
    display: none;
  }
  .titleContainer > div.arrow > *:nth-child(2) {
    display: block;
  }


  .dropdownList {
    bottom: 0;
    right: 105%;
    top: 50%;
    
  }
}
